<%- include('../includes/head') %>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <%- include('../includes/navigation') %>
    <div class="login-container">
        <h1>Login</h1>
        <% if (errorMessage) { %>
            <p style="color: red;"><%= errorMessage %></p>
          <% } %>
        <form action="/login" method="post">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
            
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
            
            <button type="submit">Login</button>
        </form>
        <a href="/reset-password">
            <p>Forgot your password?</p>
        </a>
    </div>
<%- include('../includes/end') %>
