<%- include('../includes/head')  %>
    <link rel="stylesheet" href="/css/new-password.css">
</head>
<body>
    <%- include('../includes/navigation') %>
    <div class="container">
        <h1>Set New Password</h1>

        <% if (errorMessage) { %>
            <p class="message"><%= errorMessage %></p>
        <% } %>

        <form action="/set-password" method="post">
            <input type="hidden" name="userId" value="<%= userId %>">
            <input type="hidden" name="token" value="<%= token %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <label for="password">New Password:</label>
            <input type="password" id="password" name="password" required>

            <label for="confirmPassword">Confirm Password:</label>
            <input type="password" id="confirmPassword" name="confirmPassword" required>

            <button type="submit">Set Password</button>
        </form>
    </div>
<%- include('../includes/end') %>
