<%- include('../includes/head') %>
    <link rel="stylesheet" href="css/auth-forms.css">
  </head>
  <body>
    <%- include('../includes/navigation') %>
    <div class="container">
      <h1>Password Reset</h1>
      <% if (errorMessage) { %>
          <div class="error-wrap">
            <p class="error-message">
              <%= errorMessage %>
            </p>
          </div>
        <% } %>
      <form action="/reset-password" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>">
          <div class="form-group">
            <label for="email">Email or Username:</label>
            <input type="text" id="email" name="email" required 
            value="<%= prevData.email %>"
            class="<%= validationErrors.find(element=>element.path === 'email') ? 'input-invalid' : '' %>"/>
          </div>
          <button type="submit">Send Reset Link</button>
      </form>
    </div>
<%- include('../includes/end') %>
