<%- include('../includes/head.ejs',{ title: 'Checkout' }) %>
    <link rel="stylesheet" href="/css/cart.css">
    <script src="https://js.stripe.com/v3/"></script>

    </head>

    <body>
        <%- include('../includes/navigation.ejs') %>

        <main>
    <div class="container">
        <h1>Checkout</h1>

        <h3>Product Details</h3>
        <% if(products.length > 0) { %>
            <ul>
                <% products.forEach(product => { %>
                    <li>
                        <h3><%= product.title %></h3>
                        <p>Quantity: <%=product.qty%></p>
                        <p>Price: <%= +product.total%></p>
                        <form action="/cart-delete-item" method="POST">
                            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                            <input type="hidden" name="productId" value="<%= product._id %>">
                            <button class="btn" type="submit">Remove</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
            <hr>
            <div class="total">
                <h3>Total: <%= totalPrice %></h3>
            </div>
            <div class="payment">
                <!-- payment button -->
                <button type="button" class="order-btn" id="orderBtn">pay now</button>
                <script>
                    const options = {
                    clientSecret: 'pk_test_51OIPjfIXiEz0hTpidm8Auk1aoaw9LsEOXKZckSEZepyq29RLIlClb6lEmiyxr8I62JNpTf7C6CgHwqG3izOgKtcS000InFUGuT'
                    };
            
                    const stripe = Stripe(options.clientSecret);
            
                    const orderBtn = document.getElementById('orderBtn');
                    orderBtn.addEventListener('click', () => {
                        console.log('clicked');
                        stripe.redirectToCheckout({
                            sessionId: '<%= sessionId %>'
                        })
                    });
                </script>
            </div>
        <% } else { %>
            <p>No products to purchase!</p>
        <% } %>

        <div class="customer details">
        </div>

    </div>
        </main>

        <%- include('../includes/end.ejs') %>
