<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/order.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>
    <main class="container">
        <% if (orders.length > 0) { %>
            <ul>
                <% orders.forEach(function(order) { %>
                    <li>
                        <h2>Order ID: <%= order._id %></h2>
                        <h3>Ordered Products:</h3>
                        <ul>
                            <% order.products.forEach(function(product) { %>
                                <li>
                                    <p>Product Name: <a href="/product/<%=product.product._id%>"><%=product.product.title %></a></p>
                                    <div class="product-image-wrap">
                                        <img src="<%=product.product.imageUrl%>" alt="<%= product.product.title %>" />
                                    </div>
                                    <p>Quantity: <%= product.qty %></p>
                                    <p>Price per Unit: $<%=product.product.price%></p>
                                </li>
                            <% }); %>
                        </ul>
                        <p>Total Price: $<%= order.totalPrice.toFixed(2) %></p>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No orders available.</p>
        <% } %>
    </main>
    <%- include('../includes/end.ejs') %>
